        <%- include('../includes/head.ejs') %>
        <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (products.length > 0) { %>
                <ul class="cart__item-list">
                    <% products.forEach(p => { %>
                        <li class="cart__item">
                            <h1><%= p.productId.title %></h1>
                            <h2>Quantity: <%= p.quantity %></h2>
                        </li>
                    <% }) %>
                </ul>
                <div class="centered">
                    <h2>Total: <%= totalSum %></h2>
                </div>
                <div class="centered">
                    <button id="order-btn" class="btn">ORDER</button>
                    <script src="https://js.stripe.com/v3/"></script>
                    <script>
                        var stripe = Stripe("pk_test_51I31eNJcR7ZBrFn4ciMmAELfj8y0OAC4w8g2kPv2liLENWKA2uqYxLtHKIm9d4tt5e4GwoPdDxRnQAGrX70z4jjM00NPfyHOiX");
                        var orderBtn = document.getElementById('order-btn');
                        orderBtn.addEventListener('click', function(){
                            stripe.redirectToCheckout({
                                sessionId: '<%= sessionId%>'
                            });
                        });
                    </script>
                </div>
            <% } else { %>
                <h1>No Products!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>